* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

body {
  text-align: center;
}
.btn {
  margin: 50px 0;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  border: none;
}
.btn:hover {
  background-color: rgb(182, 188, 186);
}
.btn:active {
  background-color: rgb(127, 135, 132);
}

/* Output */
.list {
  font-family: "Open Sans", sans-serif;

  width: 400px;
  height: 300px;
  background: rgb(194 192 193);
  margin: auto;
  border-radius: 5%;
  padding: 80px 30px;
}
.list__text {
  color: #fff;
  font-size: 22px;
}
.list__author {
  color: crimson;
  padding-top: 20px;
  font-size: 20px;
  text-align: end;
}
